$card-colour: #fff;
$matched-colour: #fbf2e1;

.deck {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
  background-color: $card-colour;
  color: black;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  transform: rotateY(180deg);

  &:hover {
    background-color: whitesmoke;
  }

  &.flipped {
    cursor: default;
    transform: rotateY(360deg);
    &:hover {
      background-color: $card-colour;
    }

    &.matched {
      cursor: default;
      background-color: $matched-colour;
      &:hover {
        background-color: $matched-colour;
      }
    }
  }
}
