.deck {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
  background-color: white;
  color: black;

  &:hover {
    background-color: whitesmoke;
  }

  &.flipped {
    &:hover {
      background-color: white;
    }
  }
}
